<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>00期-八大利器，彰显程序猿-B格范.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031501</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>03期-2016影响自己最大的一-书-观念-事.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031597</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>05期-你生活中有哪些怪癖？-你是如何看待怪癖这个东东的？.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031597</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>06期-你的第三份收入，选择合理的理财渠道.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031704</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>08期-你所知道的获取知识的高效途径？.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031704</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>1-Learn-The-Singleton-Pattern.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.060323</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>10期-如何让知识转化为有价值的东西.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031704</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>11期-狸木匠-“结点”-介绍.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031799</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>12期-十步快速学习法.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031799</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>13期-习惯的力量.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031895</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>14期-三个思维框.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031895</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>15期-「最新」如何成为一个“斜杠青年”.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032002</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>16期-学习发那么多的整理技巧与方法，为什么我们依旧做不好收纳这件事？.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032002</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>180128-入局首篇，随心往之.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032896</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>180207-区块链简易入门.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032896</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>180228-转变.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06033003</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>180307-领导力与幸福.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06033003</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>180314-基于IPFS搭建去中心化博客.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06033099</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>180321-iPic图床神器.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06033099</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>180328-三月复盘.md</key>
			<dict>
				<key>lastModification</key>
				<real>543745076.183254</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>18期-三个维度带你快速了解比特币.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032002</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2-Learn-The-Factory-Method-Pattern.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.060323</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-12-每日回顾.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029606</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-13-每日回顾.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029701</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-14-每日回顾.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029797</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-15-每日回顾.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029797</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-16-每日回顾.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029797</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-20-每日回顾.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029904</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-22-每日回顾.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029999</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-26-每日回顾.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030095</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-27-每日回顾.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030202</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-30-每日回顾.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030202</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-09-每日回顾.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030297</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-14-每日回顾.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030405</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>20期-如何将知识管理的标准化-流程化.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032097</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3-Easy-to-Make-USB-Hack-Tools-Just-5-mins.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029296</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3-Learn-The-Abstract-Factory-Pattern.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032395</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>30分钟搞定个人专属博客.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032598</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>31期-看到并不是学到，更不可能用到.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032705</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>32期-科普知识点-什么是价值投资.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032801</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>33期-”五问三改“写作法.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032801</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>34期-如何与领导谈涨薪.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032896</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>4-Learn-The-Builder-Pattern.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032395</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Chrome插件开发简单示例.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.060287</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>DIY-Dream-Desk-Setup-Clean-Modern-Wood-Design.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031299</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Emoji在Git的实际应用.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029499</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>GOOGLE搜索从入门到精通V4-0.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028199</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Guava代码示例-统计代码运行时长.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030405</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Guava代码示例-获取系统环境变量.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.060305</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>HackHook-s-Wiki.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029105</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>HackHook-s-打怪升级流程-v1-0.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029105</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Hamcrest-1-3-Quick-Reference.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032205</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>How-To-Use-Fabric-To-Automate-Administration-Tasks-And-Deployments.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028998</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>IntelliJ IDEA 快捷键大全 for Mac.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028199</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>IntelliJIDEA-ReferenceCard.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032705</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>JPA命名规则手册.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032503</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>JPA自定义类加载数据.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031001</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Konmari-Checklist.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.060287</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Learn-More-Study-Less.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028104</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Link收藏.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030095</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Linux命令列表.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029499</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Linux常用命令集锦.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028104</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Linux环境下如何定位程序目录.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029499</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>MacApp推荐工具集.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028998</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>MacApp清单.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027997</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>OSGI插件开发示例.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027901</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Python编码规范-Google.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028605</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Python语言学习.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028497</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Redis学习手册.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027806</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>SmartAgentV4-0-采集插件开发教程-工程发布.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027806</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>SmartAgentV4-0-采集插件开发教程-项目环境搭建篇.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027699</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>SmartAgentV4-0-采集插件开发教程.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027699</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>SmartAgentV4-0-采集插件开发教程－环境配置篇.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027806</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>SmartAgent设计思路.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027603</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>SpringCloud组件服务简介.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032598</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>TextExpander在Mac上有时失效无法展开.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031299</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The-Data-Scientist’s-Toolbox.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027603</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The-Miracle-Morning-2013.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028605</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The-Miracle-Morning.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028402</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>WeeklyPlanNote.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027496</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>linux环境变量及执行顺序介绍.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027997</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>plugin-md.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027901</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>thinkplan-2015-md.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027496</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>「第一周」我为什么要开这个专栏.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.060269</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>【MAC】MARKDOWN编辑器推荐-IA-WRITER.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028795</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>七天七并发模型读书笔记.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028795</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>三月技术学习列表.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06026995</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>两分钟原则.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028903</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>习惯的力量.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.060305</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>从此时此分起.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027305</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>使用-Travis-CI-自動發布-Hexo-內容到-Github.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031406</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>倒库技巧.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027305</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>八大利器，彰显程序猿B格范.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028998</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>切换Mac缺省Python版本.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.060287</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>创新为什么如此重要呢？.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.060274</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>周报17-学习发那么多的整理技巧与方法，为什么我们依旧做不好收纳这件事.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030798</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>周规划-30周.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031001</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>商业-站着挣钱.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031096</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>基于Gradle构建osgi插件.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027198</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>如何在Jekins上配置gradle工程.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030703</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>如何在centos7上安装Pip.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031406</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>如何成为一个“斜杠青年”.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030595</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>如何搭建shadowsocks服务.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029201</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>如何解决-ERROR-Process-failed-layout-partial-DS-Store.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029606</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>如何调整Launchpad图标排列.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028605</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>如何通过Paw工具下载octet-stream文件.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032205</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>宝宝第一次发烧.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030297</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>对执行力差的的重新理解与认识.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031203</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>我的GTD工作流.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028295</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>文具收集.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.060305</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>明天又是崭新的一天-2017-07-16.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030905</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>昨天的错误今日还一切皆因自己-谨记.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029296</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>木工资料收集.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028295</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>查看linux系统版本.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031406</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>榫卯知識.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06028497</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>每日一贴-2015-08-10.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027102</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>每日一贴-2015-08-11.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027102</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>每日一贴-2015-08-21.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06026995</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>狸木匠知识分享会之三个思维框.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030703</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>狸木匠第一期周报.txt</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029999</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>用GoogleAnalytics-UTM标识流量来源.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031203</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>知识分享架构图.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029403</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>第17期-音频分享复盘.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030798</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>第20期-如何将知识管理的标准化-流程化.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030905</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>第22期-三款绝对高频使用的效率工具-Mac.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030905</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>第29期-设计模式专栏.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032205</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>第30期-智力残缺的修补方案.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06032598</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>编译原理三大圣经——龙书、虎书、鲸书下载.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029201</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>认识自己.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06031096</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>读书笔记》谷哥和亚马逊如何做产品.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06027198</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>转-Linux-IO模式及-select、poll、epoll详解.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06029403</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>转-什么是好的读书笔记.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.06030595</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>采集终端架构分享.md</key>
			<dict>
				<key>lastModification</key>
				<real>543744688.060274</real>
				<key>version</key>
				<dict>
					<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>543743778.50328302</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>180328-三月复盘.md</string>
		</array>
		<array>
			<string>「第一周」我为什么要开这个专栏.md</string>
		</array>
		<array>
			<string>三月技术学习列表.md</string>
		</array>
		<array>
			<string>每日一贴-2015-08-21.md</string>
		</array>
		<array>
			<string>每日一贴-2015-08-11.md</string>
		</array>
		<array>
			<string>每日一贴-2015-08-10.md</string>
		</array>
		<array>
			<string>基于Gradle构建osgi插件.md</string>
		</array>
		<array>
			<string>读书笔记》谷哥和亚马逊如何做产品.md</string>
		</array>
		<array>
			<string>倒库技巧.md</string>
		</array>
		<array>
			<string>从此时此分起.md</string>
		</array>
		<array>
			<string>创新为什么如此重要呢？.md</string>
		</array>
		<array>
			<string>采集终端架构分享.md</string>
		</array>
		<array>
			<string>WeeklyPlanNote.md</string>
		</array>
		<array>
			<string>thinkplan-2015-md.md</string>
		</array>
		<array>
			<string>The-Data-Scientist’s-Toolbox.md</string>
		</array>
		<array>
			<string>SmartAgent设计思路.md</string>
		</array>
		<array>
			<string>SmartAgentV4-0-采集插件开发教程.md</string>
		</array>
		<array>
			<string>SmartAgentV4-0-采集插件开发教程-项目环境搭建篇.md</string>
		</array>
		<array>
			<string>SmartAgentV4-0-采集插件开发教程－环境配置篇.md</string>
		</array>
		<array>
			<string>SmartAgentV4-0-采集插件开发教程-工程发布.md</string>
		</array>
		<array>
			<string>Redis学习手册.md</string>
		</array>
		<array>
			<string>plugin-md.md</string>
		</array>
		<array>
			<string>OSGI插件开发示例.md</string>
		</array>
		<array>
			<string>MacApp清单.md</string>
		</array>
		<array>
			<string>linux环境变量及执行顺序介绍.md</string>
		</array>
		<array>
			<string>Linux常用命令集锦.md</string>
		</array>
		<array>
			<string>Learn-More-Study-Less.md</string>
		</array>
		<array>
			<string>IntelliJ IDEA 快捷键大全 for Mac.md</string>
		</array>
		<array>
			<string>GOOGLE搜索从入门到精通V4-0.md</string>
		</array>
		<array>
			<string>我的GTD工作流.md</string>
		</array>
		<array>
			<string>木工资料收集.md</string>
		</array>
		<array>
			<string>The-Miracle-Morning.md</string>
		</array>
		<array>
			<string>榫卯知識.md</string>
		</array>
		<array>
			<string>Python语言学习.md</string>
		</array>
		<array>
			<string>如何调整Launchpad图标排列.md</string>
		</array>
		<array>
			<string>The-Miracle-Morning-2013.md</string>
		</array>
		<array>
			<string>Python编码规范-Google.md</string>
		</array>
		<array>
			<string>切换Mac缺省Python版本.md</string>
		</array>
		<array>
			<string>Chrome插件开发简单示例.md</string>
		</array>
		<array>
			<string>Konmari-Checklist.md</string>
		</array>
		<array>
			<string>七天七并发模型读书笔记.md</string>
		</array>
		<array>
			<string>【MAC】MARKDOWN编辑器推荐-IA-WRITER.md</string>
		</array>
		<array>
			<string>两分钟原则.md</string>
		</array>
		<array>
			<string>How-To-Use-Fabric-To-Automate-Administration-Tasks-And-Deployments.md</string>
		</array>
		<array>
			<string>八大利器，彰显程序猿B格范.md</string>
		</array>
		<array>
			<string>MacApp推荐工具集.md</string>
		</array>
		<array>
			<string>HackHook-s-Wiki.md</string>
		</array>
		<array>
			<string>HackHook-s-打怪升级流程-v1-0.md</string>
		</array>
		<array>
			<string>如何搭建shadowsocks服务.md</string>
		</array>
		<array>
			<string>编译原理三大圣经——龙书、虎书、鲸书下载.md</string>
		</array>
		<array>
			<string>3-Easy-to-Make-USB-Hack-Tools-Just-5-mins.md</string>
		</array>
		<array>
			<string>昨天的错误今日还一切皆因自己-谨记.md</string>
		</array>
		<array>
			<string>知识分享架构图.md</string>
		</array>
		<array>
			<string>转-Linux-IO模式及-select、poll、epoll详解.md</string>
		</array>
		<array>
			<string>Linux命令列表.md</string>
		</array>
		<array>
			<string>Linux环境下如何定位程序目录.md</string>
		</array>
		<array>
			<string>Emoji在Git的实际应用.md</string>
		</array>
		<array>
			<string>2016-12-12-每日回顾.md</string>
		</array>
		<array>
			<string>如何解决-ERROR-Process-failed-layout-partial-DS-Store.md</string>
		</array>
		<array>
			<string>2016-12-13-每日回顾.md</string>
		</array>
		<array>
			<string>2016-12-14-每日回顾.md</string>
		</array>
		<array>
			<string>2016-12-15-每日回顾.md</string>
		</array>
		<array>
			<string>2016-12-16-每日回顾.md</string>
		</array>
		<array>
			<string>2016-12-20-每日回顾.md</string>
		</array>
		<array>
			<string>狸木匠第一期周报.txt</string>
		</array>
		<array>
			<string>2016-12-22-每日回顾.md</string>
		</array>
		<array>
			<string>Link收藏.md</string>
		</array>
		<array>
			<string>2016-12-26-每日回顾.md</string>
		</array>
		<array>
			<string>2016-12-27-每日回顾.md</string>
		</array>
		<array>
			<string>2016-12-30-每日回顾.md</string>
		</array>
		<array>
			<string>宝宝第一次发烧.md</string>
		</array>
		<array>
			<string>2017-01-09-每日回顾.md</string>
		</array>
		<array>
			<string>2017-01-14-每日回顾.md</string>
		</array>
		<array>
			<string>Guava代码示例-统计代码运行时长.md</string>
		</array>
		<array>
			<string>Guava代码示例-获取系统环境变量.md</string>
		</array>
		<array>
			<string>文具收集.md</string>
		</array>
		<array>
			<string>习惯的力量.md</string>
		</array>
		<array>
			<string>转-什么是好的读书笔记.md</string>
		</array>
		<array>
			<string>如何成为一个“斜杠青年”.md</string>
		</array>
		<array>
			<string>如何在Jekins上配置gradle工程.md</string>
		</array>
		<array>
			<string>狸木匠知识分享会之三个思维框.md</string>
		</array>
		<array>
			<string>第17期-音频分享复盘.md</string>
		</array>
		<array>
			<string>周报17-学习发那么多的整理技巧与方法，为什么我们依旧做不好收纳这件事.md</string>
		</array>
		<array>
			<string>第20期-如何将知识管理的标准化-流程化.md</string>
		</array>
		<array>
			<string>第22期-三款绝对高频使用的效率工具-Mac.md</string>
		</array>
		<array>
			<string>明天又是崭新的一天-2017-07-16.md</string>
		</array>
		<array>
			<string>周规划-30周.md</string>
		</array>
		<array>
			<string>JPA自定义类加载数据.md</string>
		</array>
		<array>
			<string>商业-站着挣钱.md</string>
		</array>
		<array>
			<string>认识自己.md</string>
		</array>
		<array>
			<string>用GoogleAnalytics-UTM标识流量来源.md</string>
		</array>
		<array>
			<string>对执行力差的的重新理解与认识.md</string>
		</array>
		<array>
			<string>TextExpander在Mac上有时失效无法展开.md</string>
		</array>
		<array>
			<string>DIY-Dream-Desk-Setup-Clean-Modern-Wood-Design.md</string>
		</array>
		<array>
			<string>如何在centos7上安装Pip.md</string>
		</array>
		<array>
			<string>查看linux系统版本.md</string>
		</array>
		<array>
			<string>使用-Travis-CI-自動發布-Hexo-內容到-Github.md</string>
		</array>
		<array>
			<string>00期-八大利器，彰显程序猿-B格范.md</string>
		</array>
		<array>
			<string>03期-2016影响自己最大的一-书-观念-事.md</string>
		</array>
		<array>
			<string>05期-你生活中有哪些怪癖？-你是如何看待怪癖这个东东的？.md</string>
		</array>
		<array>
			<string>06期-你的第三份收入，选择合理的理财渠道.md</string>
		</array>
		<array>
			<string>08期-你所知道的获取知识的高效途径？.md</string>
		</array>
		<array>
			<string>10期-如何让知识转化为有价值的东西.md</string>
		</array>
		<array>
			<string>11期-狸木匠-“结点”-介绍.md</string>
		</array>
		<array>
			<string>12期-十步快速学习法.md</string>
		</array>
		<array>
			<string>13期-习惯的力量.md</string>
		</array>
		<array>
			<string>14期-三个思维框.md</string>
		</array>
		<array>
			<string>15期-「最新」如何成为一个“斜杠青年”.md</string>
		</array>
		<array>
			<string>16期-学习发那么多的整理技巧与方法，为什么我们依旧做不好收纳这件事？.md</string>
		</array>
		<array>
			<string>18期-三个维度带你快速了解比特币.md</string>
		</array>
		<array>
			<string>20期-如何将知识管理的标准化-流程化.md</string>
		</array>
		<array>
			<string>如何通过Paw工具下载octet-stream文件.md</string>
		</array>
		<array>
			<string>Hamcrest-1-3-Quick-Reference.md</string>
		</array>
		<array>
			<string>第29期-设计模式专栏.md</string>
		</array>
		<array>
			<string>1-Learn-The-Singleton-Pattern.md</string>
		</array>
		<array>
			<string>2-Learn-The-Factory-Method-Pattern.md</string>
		</array>
		<array>
			<string>3-Learn-The-Abstract-Factory-Pattern.md</string>
		</array>
		<array>
			<string>4-Learn-The-Builder-Pattern.md</string>
		</array>
		<array>
			<string>JPA命名规则手册.md</string>
		</array>
		<array>
			<string>SpringCloud组件服务简介.md</string>
		</array>
		<array>
			<string>第30期-智力残缺的修补方案.md</string>
		</array>
		<array>
			<string>30分钟搞定个人专属博客.md</string>
		</array>
		<array>
			<string>31期-看到并不是学到，更不可能用到.md</string>
		</array>
		<array>
			<string>IntelliJIDEA-ReferenceCard.md</string>
		</array>
		<array>
			<string>32期-科普知识点-什么是价值投资.md</string>
		</array>
		<array>
			<string>33期-”五问三改“写作法.md</string>
		</array>
		<array>
			<string>34期-如何与领导谈涨薪.md</string>
		</array>
		<array>
			<string>180128-入局首篇，随心往之.md</string>
		</array>
		<array>
			<string>180207-区块链简易入门.md</string>
		</array>
		<array>
			<string>180228-转变.md</string>
		</array>
		<array>
			<string>180307-领导力与幸福.md</string>
		</array>
		<array>
			<string>180314-基于IPFS搭建去中心化博客.md</string>
		</array>
		<array>
			<string>180321-iPic图床神器.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
			<integer>14</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>4afe7fa806be0cddcfe9030ae9048dfa2bcd3ed490aeb6ca7c718d0b12b1edc5</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
